@font-face {
  font-family: 'OpenSans600';
  src: url('../fonts/open-sans-600.woff2') format('woff2'),
       url('../fonts/open-sans-600.woff') format('woff');
  font-weight: 600;
  font-style: bold;
 }


.hello {
  color: red;
  background: url('../images/fpo_avatar.png');
  font-family: 'OpenSans600';
}
